.about-container {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: 550px) {
    display: block;
    margin: auto;
    height: 200vh;
  }

  @media (min-width: 750px) {
    height: 55em;
  }

  @media (min-width: 1000px) {
    height: 75em;
  }

  .about {
    height: 80vh;
    width: 35ch;
    font-size: 1rem;

    @media (min-width: 550px) {
      display: block;
      margin: auto;
    }

    @media (min-width: 750px) {
      height: 20em;
      font-size: 1.5rem;
    }

    @media (min-width: 1000px) {
      height: 30em;
      font-size: 2rem;
    }

    h2 {
      text-align: center;
    }
  }

  .social-media-icons {
    display: block;
    margin: auto;
    height: 20vh;

    h3 {
      text-align: center;
      margin-left: -1.3em;

      @media (min-width: 800px) {
        font-size: 2rem;
      }

      @media (min-width: 1000px) {
        font-size: 3rem;
      }
    }

    @media (min-width: 550px) {
      margin: 15em auto;

      .icon {
        width: 10vw;
      }
    }

    @media (min-width: 800px) {
      width: 60vw;

      .icon {
        width: 7vw;
      }
    }

    @media (min-width: 1000px) {
      margin: auto;
    }
  }
  .icons {
    display: flex;
    width: 55vw;
    justify-content: space-around;

    @media (min-width: 550px) {
      display: block;
      margin: auto;
    }
    @media (min-width: 800px) {
      display: flex;
      justify-content: center;
    }
  }
  .icon {
    width: 15vw;

    @media (min-width: 800px) {
      margin-right: 2em;
    }
  }
}
