.comments {
  height: auto;

  display: flex;
  flex-direction: column;

  textarea {
    height: 8em;
  }
  label {
    display: block;
    margin-top: 1em;
    color: $dark-grey;
  }

  input,
  textarea {
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;
    font-size: 1.2rem;
    align-items: center;
    box-sizing: border-box;

    &:focus {
      outline: 1px solid $dark-grey;
    }
  }

  .comment {
    border-radius: 3em;
    margin-top: 2em;
    width: 30ch;
    font-family: $ff-s;
  }
}
