.comments {
  height: 100vh;
  margin-top: 0;

  form {
    display: flex;
    flex-direction: column;
  }
  textarea {
    height: 8em;
  }
  label {
    display: block;
    margin-top: 1em;
    color: $dark-grey;
  }

  input,
  textarea {
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;
    //  background: lighten($light-grey, 6%);
    //  border: 1px solid $light-grey;
    font-size: 1.2rem;
    align-items: center;
    box-sizing: border-box;

    &:focus {
      outline: 1px solid red;
    }
  }
}
