.player-container {
  height: 100vh;
  margin-top: 3em;

  @media (min-width: 550px) {
    height: 200vh;
  }

  @media (min-width: 800px) {
    height: 260vh;
    font-size: 1.5rem;
  }

  .player {
    width: 100vw;
    height: 80px;

    @media (min-width: 550px) {
      display: block;
      margin: 0 auto 2em auto;
      width: 60vw;
    }
  }

  .song-desc {
    width: 35ch;
    margin: auto;

    @media (min-width: 550px) {
      margin-bottom: 3em;
    }
  }

  h2 {
    text-align: center;
  }
}
